myenv/
Project1-S4.git/
*.pyc
*__pycache__/
Animals/__pycache__/json_scraper.cpython-311.pyc
__pycache__/scraper_utils.cpython-311.pyc
Animals/__pycache__/json_scraper.cpython-311.pyc
PROXY_ROTATION_SETUP.md
test/animals-dataimpulse.yml
test/animals-dataimpulse-yesterday.yml
test/scraper.yml
test/test-403-fix.yml
test/test-full-scrape-used-cars.yml
test/test-full-scrape.yml
test/test-uc.yml
test/*
